body {
  background-image: url('./assets/img/bg-desktop-light.jpg');
  background-size: 100vw 300px;
  background-repeat: no-repeat;
  font-family: 'Josefin Sans', sans-serif;
  color: hsl(0, 0%, 98%);
}
